@import "src/scss/vars";
@import "src/scss/mixins";

.conclusion {
    margin-bottom: 244px;
  &__desc {
    @include text($ff, 700, 32px, 54px, $title);
    letter-spacing: -0.5px;
    margin-bottom: 119px;
  }
}
