@import "src/scss/vars";
@import "src/scss/mixins";

.lounch {
    margin-bottom: 234px;
  &__title {    
    @include text($ff, 700, 16px, 16px, $title);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 100px;
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        background: $bgline;
        height: 2px;
        width: 188px;
        bottom: -10px;
        left: 0;
    }
  }
}