@import "src/scss/vars";
@import "src/scss/mixins";

.covibe {
  &__inner {
    margin-bottom: 290px;
  }
  &__title,
  &__card-title {
    @include text($ff, 700, 16px, 16px, $title);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 12px;
  }
  &__desc {
    @include text($ff, 700, 32px, 48px, $title);
    letter-spacing: -0.5px;
    margin-bottom: 112px;
    max-width: 345px;
  }
  &__cards {
    display: flex;
    align-items: center;
    gap: 68px;
  }
  &__card {
    width: 250px;
  }
  &__card-text {
    @include text($ff, 700, 20px, 30px, $title);
    letter-spacing: -0.5px;
  }
}
