@import 'src/scss/vars';
@import 'src/scss/mixins';

.footer {
    padding-top: 48px;
    padding-bottom: 36px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 100%;
        background: $border;
        top: 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copy {
        @include text($ff, 600, 16px, 36px, $text);  
        letter-spacing: -0.5px;
        span {
            color: $copy;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 43px;
    }
}