*, *::after, *::before {
    box-sizing: border-box;
}

.App {
	min-height: 100vh;
	display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    font-family: $ff;
    background: $bg;
    min-height: 100vh;    
    }

.container {
    max-width: 1288px;
    padding: 0 20px;
    margin: 0 auto;
}