//Fonts:
$ff: 'Manrope', sans-serif;

//Colors:
$white: #ffffff;
$black: #000;
$bg: #202020;
$headerbg: rgba(50, 50, 50, 0.7);
$title: #DEDEDE;
$text: #959595;
$border: #696969;
$copy: #ECECEC;
$bglink: #9D9D9D;
$bgline: #A5A5A5;
$bgcase: #C4C4C4;
$hover: #66ee5a;

//Transition:
$transition: all .3s ease-in-out;

//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;